html,body{
	padding: 0px;
	border: 0px;
	font-size: 10px;
}

.bd-2px{
	border: 2px solid black;
}
#main-container{
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 30px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.question{
	width: 100%;
	text-align: justify;
	font-size: 3rem;
	font-weight: bolder;
	background-color: orange;
	padding-left: 5px;
}
.options{
	border:2px solid red;
	border-radius: 2px;
	padding: 5px;
	height: auto;
}

.options .option{
	height: 50px;
	width: 100%;
	border: 2px solid black;
	margin-bottom: 20px;
	background-color: lightblue;
}

.s_no,.answer{
	font-size: 2rem;
}
.answer{
	display: inline-block;
	width: 80%;
	text-align: center;
}
.next-btn,.retry-btn{
	font-size: 2.5rem;
    float: right;
}
.retry-btn{
	position: absolute;
	left:40%;
	right: 40%;
	top:30%;
}
.score{
	font-size: 2.5rem;
}
.q_no{
	text-align: center;
	font-size: 2.5rem;
	padding: 5px;

}
.option:hover{
	cursor: pointer;
	background-color: yellow;
	font-size: 2.2rem;
}

#last-card{
	display: none;
	font-size: 2.5rem;
	height: 50px;
	width: 100%;
	text-align: center;
	color: red;
	font-family: italic;
}
